@model IEnumerable<AdministartionConsole.Models.Dto.CategoryDto>
@{
    ViewData["Title"] = "Category lists";
}

<h1>Category List:</h1>

<div>
    <hr />
    <dl class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }

        </table>
    </dl>
</div>