@{
    ViewData["Title"] = "NotFound";
}

<style>
    p {
        font-size: 20px;
        font-weight: bold;
    }
</style>
<div>
    <p>Searching product "@ViewBag.SearchingParameter" was not found.</p>
    @Html.ActionLink("Back to list", "Startpage", "Product")
</div>