@model AdministartionConsole.Models.Dto.DictionaryDto

@{
    ViewData["Title"] = "Ok";
}

<h1>Created dictionary details: </h1>
<h2>Name: @Html.DisplayFor(x => x.Name) </h2>
<h2>Value: @Html.DisplayFor(x => x.Value) </h2>

@Html.ActionLink("Back to list", "Index", "Dictionary")
